.product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.product {
    width: calc(33.33% - 20px);
    margin-right: 20px;
    margin-bottom: 20px;
    padding: 10px;
    text-align: center;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.product .card-img-top {
    max-width: 100%;
    max-height: 150px; /* Ajusta la altura máxima deseada */
}

.cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
